# Use the GitHub noreply address as the canonical identity for each contributor.
# Map all other personal / university email addresses to that canonical entry.

Katrin Herold <64831040+roldka@users.noreply.github.com>
Katrin Herold <64831040+roldka@users.noreply.github.com> <KatrinHerold98@live.com>
Katrin Herold <64831040+roldka@users.noreply.github.com> <kaherold@edu.aau.at>
Julian Blaschke <35682894+kingjulien1@users.noreply.github.com>
Julian Blaschke <35682894+kingjulien1@users.noreply.github.com> <julianblaschke@icloud.com>
Julian Blaschke <35682894+kingjulien1@users.noreply.github.com> <julian.blaschke@gmx.at>
Miriam Manasreh <176385162+miri2468@users.noreply.github.com>
Miriam Manasreh <176385162+miri2468@users.noreply.github.com> <manasrehmiriam1016@gmail.com>
Miriam Manasreh <176385162+miri2468@users.noreply.github.com> <mirmanasreh@edu.aau.at>
Miriam Manasreh <176385162+miri2468@users.noreply.github.com> <mirmanasreh@aau.at>
Erik Zeber <269196954+ez-del@users.noreply.github.com>
Erik Zeber <269196954+ez-del@users.noreply.github.com> <erzeber@edu.aau.at>
Erik Zeber <269196954+ez-del@users.noreply.github.com> <erik.zeber@gmail.com>
Vanessa Fröhlich <118380536+vanidrei@users.noreply.github.com>
Vanessa Fröhlich <118380536+vanidrei@users.noreply.github.com> <vanfroehlich@edu.aau.at>
Stefan Vrsajkovic <255589960+svrsa@users.noreply.github.com>
Stefan Vrsajkovic <255589960+svrsa@users.noreply.github.com> <stefanvr@edu.aau.at>
Stefan Vrsajkovic <255589960+svrsa@users.noreply.github.com> <stefan.vrs99@gmail.com>
Sabine Larglasser <92882765+SabineJu@users.noreply.github.com>
Sabine Larglasser <92882765+SabineJu@users.noreply.github.com> <sabineju@edu.aau.at>
# Additional commit-name aliases that should collapse into the canonical identities above.
Miriam Manasreh <176385162+miri2468@users.noreply.github.com> miri <176385162+miri2468@users.noreply.github.com>
Miriam Manasreh <176385162+miri2468@users.noreply.github.com> miri <manasrehmiriam1016@gmail.com>
Miriam Manasreh <176385162+miri2468@users.noreply.github.com> miri <mirmanasreh@edu.aau.at>
Miriam Manasreh <176385162+miri2468@users.noreply.github.com> miri <mirmanasreh@aau.at>
Erik Zeber <269196954+ez-del@users.noreply.github.com> NOBANPLZGod <269196954+ez-del@users.noreply.github.com>
Erik Zeber <269196954+ez-del@users.noreply.github.com> NOBANPLZGod <erzeber@edu.aau.at>
Erik Zeber <269196954+ez-del@users.noreply.github.com> NOBANPLZGOD <269196954+ez-del@users.noreply.github.com>
Erik Zeber <269196954+ez-del@users.noreply.github.com> NOBANPLZGOD <erzeber@edu.aau.at>
Erik Zeber <269196954+ez-del@users.noreply.github.com> NOBANPLZGod <erik.zeber@gmail.com>
Erik Zeber <269196954+ez-del@users.noreply.github.com> NOBANPLZGOD <erik.zeber@gmail.com>
